<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mprint - add supplier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
          Forget password
          </h1>

        </div>
      </div>

<div class="section">
  <div class="container has-text-centered">
    <div class="column is-6 is-offset-3">

      <h2 class="subtitle">
         Please enter your email and click notify me >> I will send this request to your manager. How dare you to forget?
      </h2>
      <div class="box">

        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="Enter your email">
          </p>
          <p class="control">
            <a class="button is-info">
              Notify Me
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>mprint app</strong> by Bella Thana. The source code and website contents
        are licensed.
      </p>
    </div>
  </div>
</footer>

  </body>
</html>
