<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>
  <body>


    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ subtitle }}
          </h1>
          <h2 class="subtitle">
            {{ description }}
          </h2>
        </div>
      </div>
      <div class="tabs is-centered">
          <ul>
          <li><a href="../order/viewOrder.html">Order</a></li>
          <li><a href="../calcu/viewCalcu.html">Calculation</a></li>
          <li><a href="../supplier/viewSupplier.html">Supplier</a></li>
          <li><a href="../paper/viewPaper.html">Paper</a></li>
          <li><a href="../provider/viewProvider.html">Provider</a></li>
          <li class="is-active"><a href="/customer/view">Customer</a></li>
          </ul>
      </div>
    </section>
    <div class="page-container">
      {{{body}}}
    </div>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>mprint app</strong> by Bella Thanaphorn Thongthian. The source code and website contents
            are licensed.
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
