<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mprint - view supplier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>
  <body>


    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            1) Printing overview
          </h1>
          <h2 class="subtitle">
            Printing order no.: p0026 
          </h2>
        </div>
      </div>
      <div class="tabs is-centered">
          <ul>
          <li><a href="../order/viewOrder.html">Order</a></li>
          <li class="is-active"><a href="../calcu/viewCalcu.html">Calculation</a></li>
          <li><a href="../supplier/viewSupplier.html">Supplier</a></li>
          <li><a href="../paper/viewPaper.html">Paper</a></li>
          <li><a href="../provider/viewProvider.html">Provider</a></li>
          <li><a href="../customer/viewCustomer.html">Customer</a></li>
          </ul>
          </div>
    </section>

    <div class="tabs is-boxed">
      <ul>
        <li class="is-active">
          <a href="../calcu/printCal1.html">
            <span>Overview</span>
          </a>
        </li>
        <li>
          <a href="../calcu/printCal2.html">
            <span>Layout</span>
          </a>
        </li>
        <li>
          <a href="../calcu/printCal3.html">
            <span>Costing</span>
          </a>
        </li>
        <li>
          <a href="../calcu/printCal4.html">
            <span>Summary</span>
          </a>
        </li>
      </ul>
    </div>
<section class="container is-fluid">
<div class="columns">
      <div class="column" name="inputdetails">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Size W</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="sizeW">
          </p>
        </div>
      </div>
      <div class="field-label is-normal">
        <label class="label">x L</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="sizeL">
          </p>
        </div>
      </div>
      <div class="field">
      <div class="control">
      <label class="radio">
        <input type="radio" name="question">
        inch
      </label>
      <label class="radio">
        <input type="radio" name="question">
        cm
      </label>
      </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Paper Type</label>
      </div>
        <div class="field-body">
          <div class="field is-narrow">
          <div class="control">
            <div class="select">
              <select>
                <option>Card</option>
                <option>Sticker</option>
                <option>Food grade</option>
                <option>**From database**</option>
              </select>
            </div>
          </div>
          </div>
        </div>
        
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Front colours</label>
          </div>
            <div class="field-body">
              <div class="field is-narrow">
              <div class="control">
                <div class="select">
                  <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
              </div>
              </div>
            </div>

            <div class="field-label is-normal">
              <label class="label">Back colours</label>
            </div>
              <div class="field-body">
                <div class="field is-narrow">
                <div class="control">
                  <div class="select">
                    <select>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                </div>
              </div>
            </div>
        
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Gram</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="gram">
              </p>
            </div>
          </div>
    
            <div class="field-label is-normal">
                <label class="label">Amount</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="amount">
                  </p>
                </div>
              </div>
        </div>
        
         <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Spare amount</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="spare">
          </p>
        </div>
      </div>
    </div>
      
    </div>

    <div class="column" name="Displaying">
      <!-- hello  --> Cost selection
    <div class = "control">
    <label class="checkbox"><input type="checkbox">Artwork cost</label>
    
        <div class="select is-loading">
        <select>
            <option>Upload file option</option>
        </select>
        </div>
    </div>
        
    <div><label class="checkbox"><input type="checkbox">Coat Type</label>
        <div class="select">
        <select>
            <option>UV</option>
            <option>Matt</option>
            <option>Gross</option>
            <option>Vanish</option>
            <option>*from database*</option>
        </select>
        </div> 
    </div>

    <div>
    <label class="checkbox">
      <input type="checkbox">
      Digital printing
    </label>
    </div>

    <div>
    <label class="checkbox">
      <input type="checkbox">
      Mock up cost
    </label>
    </div>

    <div>
    <label class="checkbox">
      <input type="checkbox">
      Proof cost
    </label>
    </div>

    <div>
    <label class="checkbox">
      <input type="checkbox">
      Plate cost
    </label>
    </div>

    <div>
    <label class="checkbox">
      <input type="checkbox">
      Coat
    </label>
    </div>

    <div>
    <label class="checkbox">
      <input type="checkbox">
      Di-cut
    </label>
    </div>

   <div>
    <label class="checkbox">
      <input type="checkbox">
      Patch
    </label>
    </div>

    <div>
    <label class="checkbox">
      <input type="checkbox">
      Form up
    </label>
    </div>

    <div>
    <label class="checkbox">
      <input type="checkbox">
      Pack
    </label>
    </div> 
    
    <div>
    <label class="checkbox">
      <input type="checkbox">
      Delivery
    </label>
    </div>
        
    <div>
    <label class="checkbox">
      <input type="checkbox">
      Other materials
    </label>
    </div>

    <div>
    <label class="checkbox">
      <input type="checkbox">
      Time waste
    </label>
    </div>
</div>
    
</div>
      
<a class="button" href="../calcu/viewCalcu.html">Save as a draft</a>
<a class="button" href="../calcu/printCal2.html">Save and proceed</a>      
</section>      
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>mprint app</strong> by Bella Thana. The source code and website contents
        are licensed.
      </p>
    </div>
  </div>
</footer>

  </body>
</html>
